.mood {
    &-list {
        padding: .3rem 0;
        li {
            display: flex;
            position: relative;
            max-width: 90%;
            margin: auto;
            border-radius: 5px;
            border-bottom-right-radius: 0;
            text-align: justify;
            margin-bottom: .4rem;
            transition: all .8s;

            .title {
                &::before {
                    position: absolute;
                    top: -.1rem;
                    left: -.2rem;
                    z-index: 1;
                    padding-right: 10px;
                    font-weight: 500;
                    color: #125;
                    line-height: 0;
                    border: .15rem#f9a532 solid;
                    border-right-color: transparent;
                    content: attr(data-title);
                    box-shadow: 0 5px 5px -6px #000;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: .2rem;
                    left: -.2rem;
                    border: #89540c .1rem solid;
                    border-left-color: transparent;
                    border-bottom-color: transparent;
                }

            }

            &:hover {
                transform: translate3d(0, -5px, 0);
                // box-shadow: 1px 1px 10px 10px rgba($color: #000, $alpha: .1);
            }
        }
    }
    &-body{
        flex: 1;
        position: relative;
        margin: 1px 0 0 12px; 
        padding: 10px 10px 26px;
        background: #fff;
        border: 1px solid #e5e5e5;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 5px;
        &::before{
            content: '';
            position: absolute;
            left: -10px;
            top: 20px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: #fff;
            border-right-color: #fff;
        }
        >.desc {
            margin: 0 0 .1rem 0;
        }

        >.date {
            position: absolute;
            right: 8px;
            bottom: 4px;
            color: #51555e;
        }
        i{
            margin-right: 0;
            color: gray;
            font-size: 12px !important;
        }
    }
    &-avatar{
        width: 52px;
        height: 52px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 12px;
    }
    .mood-item{
        max-width: 100% !important;
    }
}