html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, em, button, blockquote {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, ul, ol {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: bottom;
}

em, b {
    font-style: normal;
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

i {
    font-style: normal;
}

button, input, select, textarea {
    outline: none;
    font-family: 'Microsoft Yahei';
    -webkit-appearance: none;
    appearance: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* link */

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    outline: none;
}

a:focus {
    outline: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

html,body {
    background: #fff;
}