html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, em, button, blockquote, figure {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: bottom;
}

em, b {
    font-style: normal;
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

i {
    font-style: normal;
}

button, input, select, textarea {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* link */

a {
    text-decoration: none;
    outline: none;
    /* color: #555; */
}

a:hover {
    text-decoration: none;
    outline: none;
}

a:focus {
    outline: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/*HTML5 reset*/

time {
    display: inline
}

button {
    border: none;
    outline: none;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

svg:not(:root) {
    overflow: hidden
}

[v-cloak] {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    /* color: #606975; */
    color: #525b66;
    line-height: 1.5;
}

::selection {
    color: #fff;
    background: #b28fce;
}