.label {
    &-content {
        padding: .2rem 0;
        text-align: center;
        background:rgba(255,255,255,.8);
        border-radius: 10px;
    }

    .title {
        margin: 0 0 .2rem 0;
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        letter-spacing: 1px;
        color: rgba($color: #fff, $alpha: .9);
    }

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: .8rem;
        margin: .1rem .1rem .2rem .1rem;
        padding: .1rem;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
        border-radius: 5px;
        transition: all 1s;
        background: #4b7c9c;
        &:hover {
            background-image: linear-gradient(to right, #4481eb 0%, #04befe 100%);
        }
    }
}
.post{
    &-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 0 0 0;
    }
    &-list{
        width: 49%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 768px) {
    .label-item {
        min-width: 1rem;
        padding: .15rem;
        font-size: 13px;
    }
    .post{
        &-list{
            width: 100%;
            margin-bottom: 4%;
        }
    }
}