.label {
    .iconfont{
        margin-right:0;
    }
    &-content {
        padding: .2rem 0;
        text-align: center;
        border-radius: 10px;
    }

    .title {
        margin: 0 0 .2rem 0;
    }

    &-wrapper {
        letter-spacing: 1px;
    }

    &-item {
        min-width: .8rem;
        margin: .1rem .1rem .2rem .1rem;
        padding: 6px 10px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
        border-radius: 20px;
        transition: all 1s;
        color: #0084ff;
        background: rgba(0,132,255,.1);
        transition: all 1s;
        &:hover {
            background: rgba($color: #0084ff, $alpha: .9);
            color: #fff;
        }
    }
}

