.label {
    &-content {
        padding: .2rem 0;
        text-align: center;
        background:rgba(255,255,255,.8);
        border-radius: 10px;
    }

    .title {
        margin: 0 0 .2rem 0;
    }

    &-wrapper {
        letter-spacing: 1px;
        color: rgba($color: #fff, $alpha: .9);
    }

    &-item {
        min-width: .8rem;
        margin: .1rem .1rem .2rem .1rem;
        padding: 6px 10px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
        border-radius: 20px;
        transition: all 1s;
        background: #4b7c9c;
        &:hover {
            background-image: linear-gradient(to right, #4481eb 0%, #04befe 100%);
        }
    }
}

