@import '@/assets/sass/mixin.scss';

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: fadeInDown 1s;
    z-index: 997;
    transition: all 1s;

    &.active {
        position: fixed;
        top: 0;
        // left: 50%;
        // transform: translateX(-50%);
        // background: rgba(0, 0, 0, 0.8);
        background: rgba($color: rgb(26, 21, 21), $alpha: .8);
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.05);
        color: #fff;

        a {
            color: #fff;
        }
    }

    .nav-logo {
        transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    &.active .nav-logo {
        // top: .05rem;
    }
}

.nav-logo {
    position: absolute;
    height: 50px;
    font-size: .22rem;

    // opacity: 1;
    .brand {

        @include flex-align();
        color: #fff;
    }

    img {
        display: inline-block;
        height: 45px;
        margin-right: .1rem;
    }

}

.menu-wrapper {
    width: 75%;
    margin: auto;
    font-size: .16rem;
    height: 50px;
    line-height: 50px;

    &.menu-open {
        @for $i from 1 through 7 {
            .menu-list li:nth-of-type(#{$i}) {
                animation: scaleInY .3s .25s*$i both;
            }
        }
    }
}

.menu-list {
    float: right;
    @include flex(){
        justify-content: space-between;
    };

    li {
        position: relative;
        @include flex-align();
        padding: 0 .15rem 0;
    }

    .title {
        margin-left: .03rem;
    }
}

.iconfont {
    font-size: 15px;
}

/*移动端导航样式*/
.nav-collapse {
    position: absolute;
    left: 0;
    line-height: 50px;
    background: none;
    font-size: .2rem;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .nav-logo {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        will-change: transform;
    }

    .menu-list {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu-wrapper {
        width: 90%;
        font-size: 14px;
        height: 50px;
    }

    .brand {
        font-size: .4rem
    }

    .nav-collapse {
        font-size: 24px;
    }
}

@media screen and (min-width: 993px) {
    .nav-collapse {
        display: none;
    }
}