@import '@/assets/sass/theme.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: fadeInDown 1s;
    z-index: 997;
    transition: all .5s;

    a,
    i {
        color: $white;
    }
    i{
        margin-top: -3px;
    }
    &.isvisible {
        top: 0;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, .05);
        background: rgba($color: rgb(26, 21, 21), $alpha: .8);

        @for $i from 1 through 7 {
            .menu-list li:nth-of-type(#{$i}) {
                animation: fadeInRight .3s .2s*$i both;
            }
        }
    }

    &.ishidden {
        transform: translateY(-50px);
    }

    .nav-logo {
        transition: all 1s;
    }
}

.nav-logo {
    position: absolute;
    height: 50px;
    font-size: .22rem;

    .brand {
        color: #fff;
    }

    img {
        display: inline-block;
        height: 45px;
    }

}

.menu-wrapper {
    font-size: .16rem;
    height: 50px;
    line-height: 50px;
}

.menu-list {
    float: right;
    li {
        position: relative;
        padding: 0 15px;
        transition: background 1s;
        &:hover{
            background: rgba(252, 252, 252, .2);
        }
    }
}


/*移动端导航样式*/
.nav-collapse {
    position: absolute;
    left: 3%;
    line-height: 50px;
    background: none;
    color: $white;
    cursor: pointer;

    i {
        font-size: 40px;
    }
}

@media screen and (max-width: 992px) {
    .nav-logo {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        will-change: transform;
    }

    .menu-list {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu-wrapper {
        font-size: 14px;
        height: 50px;
    }

    .brand {
        font-size: .4rem;
    }

    .nav-collapse {
        font-size: 24px;
    }
}

@media screen and (min-width: 992px) {
    .nav-collapse {
        display: none;
    }
}