@import '@/assets/sass/theme.scss';

.friend {
   
    &-list {
        li {
            position: relative;
            padding: 0 .1rem;
            margin: 0 auto 40px;
        }
    }

    &-content {
        width: 100%;
        transition: all 1s;
        border-radius: 10px;
        // border: 1px solid #eee;
        // box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, .1);
        box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
        &:hover {
            transform: translateY(-8px);
        }
    }

    &-cover {
        position: relative;
        width: 100%;
        height: 220px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        &:hover img {
            transform: scale(1.1) rotate(-1deg);
        }

        img {
            object-fit: cover;
            transition: transform 1.5s;
        }
    }

    &-avatar {
        width: 66px;
        height: 66px;
        border-radius: 50%;
        
    }
    &-info {
        display: flex;
        justify-content: space-around;
        padding: 10px 10px 30px 10px;
        border-radius: 0 0 10px 10px;
        img{
            border: 1px solid #6b0cca;
        }
        
    }

    &-intro {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &-link {
        &-btn {
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            height: 40px;
            padding: 0 40px;
            border-radius: 40px;
            // background: #007fff;
            color: #fff;
            background: rgb(0,132,255);
            line-height: 40px;
        }
    }
    &-apply{
        padding: 20px 10px;
        margin: 20px 0;
        border-radius: 5px;
        box-shadow: 0 14px 6px -12px rgba(233, 30, 99, 0.42), 0 4px 13px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
        h2{
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 10px;
        }
        span{
            font-weight: 700;
        }
    }
}

@media screen and (max-width:768px) {
    .friend-list {
        li {
            width: 100%;
        }
    }
}
@media screen and (min-width:993px) {
    .friend-list {
        li {
            width: 50%;
        }
    }
}
@media screen and (min-width:1200px) {
    .friend-list {
        li {
            width: 33.33%;
        }
    }
}