@import '@/assets/sass/mixin.scss';

@media screen and (max-width: 768px) {
    .page {
        &-home {
            padding: 0 .3rem;
        }
    }
}

.site-meta {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    // &::after{
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     top: 0;
    //     background: linear-gradient(transparent 80%,rgba(0,0,0,.4) 90%,rgba(0,0,0,.7) 100%);
    // }
    @include flex-center(column);

    .title {
        font-size: .4rem;
    }

    .person-info {
        position: relative;
    }

    .user-avatar {
        display: block;
        width: 1.5rem;
        border-radius: 50%;
        margin: 0.4rem auto;
        border: 1px solid gold;
        transition: transform 1s;

        &:hover {
            transform: rotate(360deg);
        }
    }

    .slogan {
        font-size: 0.24rem;
        margin: 0.1rem 0;
    }
}

.article {
    position: relative;

    &-wrapper {
        position: relative;
        margin: 0 0 .3rem 0;
        border-radius: 5px;
        transition: all 1s;

        &:hover {
            transform: translateY(-6px);
            box-shadow: 0 6px 6px rgba(0, 0, 0, .1), 0 6px 6px rgba(0, 0, 0, .1);
        }

        &:hover .article-date {
            opacity: 1;

            .month,
            .time {
                animation: textConcatIn 1s .4s both;
            }

            .time {
                animation-delay: .8s;
            }
        }
    }

    &-title {
        @include overflow-num(3);
        font-weight: lighter;
    }

    &-link {
        position: relative;
        display: block;
        height: 3rem;
        overflow: hidden;
        border-radius: 5px 0 0 5px;

        &:hover img {
            transform: scale(1.1) rotate(-3deg);
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 1.5s cubic-bezier(0.6, 0.4, 0.7, 1);
        }
    }

    &-cover {
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
    }

    &-content {
        position: relative;
        float: right;

        @include flex(column) {
            justify-content: space-around;
        }

        width: 50%;
        height: 3rem;
        padding: 0.15rem;
        background: rgba($color: #fff, $alpha: .6);
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

    &-desc {
        @include overflow-num(3);
        text-align: justify;
    }

    &-title {
        text-align: justify;
    }

    &-date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba($color: #000, $alpha: .6);
        text-align: center;
        color: #fff;
        opacity: 0;
        transition: opacity 1s;
        .time{
            margin-top: 1em;
        }
    }

    &-info {
        @include flex() {
            justify-content: space-around;
        }

        span {
            display: flex;
            align-items: center;

        }

        span.archive {
            em {
                margin-left: .1rem;
            }
        }

        i {
            display: inline-block;
            margin-right: 0.04rem;
        }
    }
}

.article-float .article-content {
    float: left;
    border-radius: 5px 0 0 5px;
}

.article-float .article-cover {
    float: right;
}

.article-float .article-cover .article-link {
    border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 768px) {
    .article {
        &-desc {
            margin: .2rem 0;
        }

        &-content,
        &-cover {
            width: 100%;
        }

        &-content {
            height: auto;
        }
    }

    .site-meta {
        .title {
            font-size: .5rem;
        }

        .slogan {
            font-size: .35rem;
        }
    }
}

.arrow-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: .32rem;
    height: .32rem;
    transform: translateX(-50%);
    border: none;
    background: url(../../assets/img/arrow-down.svg) no-repeat;
    background-size: 100%;
    animation: floatY 2s infinite;
}