/*重写滚动条样式*/
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 15px rgba(245, 220, 184, 0.81);
    border-radius: 40px;
    background-color: #e1bfba;
}

.row {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    padding-left: .2rem !important;
    padding-right: .2rem !important;
}

.opacity0 {
    opacity: 0;
}

/*小屏幕下(手机类)的样式*/
@media only screen and (max-width: 601px) {
    .container {
        position: relative;
        width: 95%;
    }
}

/*中等屏幕下(平板类)的样式*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
    .container {
        position: relative;
        width: 85%;
    }
}

/*大屏幕下(桌面类)的样式*/
@media only screen and (max-width: 993px) {
    .container {
        position: relative;
        width: 80% !important;
        max-width: 1125px;
    }

    .row {
        width: 85%;
    }
}

/*移动端样式*/
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        line-height: 1.428;
    }

    .hidden-xs {
        display: none !important;
    }

    .container {
        width: 90% !important;
    }

    .row {
        width: 92%;
    }

    .prev span,
    .next span {
        display: block;
    }

    pre {
        &::before {
            margin-top: -.2rem;
            box-shadow: .35rem 0 #fdbc40, .7rem 0 #35cd4b !important;
        }

        &::-webkit-scrollbar {
            height: .15rem !important;
        }
    }
}

/*a链接处理*/
@media screen and (min-width: 768px) {

    a[target="_blank"] {
        &:hover::before {
            color: #404d5b;
            background-color: #f7f7f5;
            border: solid 1px;
            border-color: #e2e2e2;
            transition-delay: 0s, 0s, 0s, 0.1s;
            transform: scale(1) translateY(-65%);
            pointer-events: auto;
        }

        &::before {
            font-size: 12px;
            font-weight: 600;
            content: "❤ "attr(href);
            position: absolute;
            top: -50%;
            margin: 0;
            padding: 4px 10px;
            width: max-content;
            max-width: 800px;
            white-space: pre-wrap;
            word-break: break-all;
            transition: opacity 0.3s, color 0.3s, transform 0.3s, background-position 0.2s;
            transition-delay: 0s, 0s, 0s, 0s;
            transform: scale(0.5);
            background-color: transparent;
            line-height: 1.8em;
            color: transparent;
            pointer-events: none;
            border-radius: 20px;
        }
    }

}

/*随机渐变背景色*/
.random-bg0 {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.random-bg1 {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.random-bg2 {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.random-bg3 {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.random-bg4 {
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.random-bg5 {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.random-bg6 {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.random-bg7 {
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

.random-bg8 {
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

.random-bg9 {
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

.random-bg10 {
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.random-bg11 {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.random-bg12 {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

/*页面路由切换*/
.fade-enter-active {
    animation: fadeInUp .6s;
}

.fade-leave-active {
    animation: zoomOut .4s;
}

.fadeIn-enter-active {
    animation: fadeIn 1s;
}

.fadeIn-leave-active {
    animation: fadeOut 1s;
}

/* markdown 内容样式*/
.markdown-content {
    text-align: left;

    .fa-link {
        color: #0ba360;
    }

    .hljs {
        background: none;
    }

    .hljs-ln-numbers {
        display: inline-block;
        margin-right: .1rem;
        padding: 0 .1rem;
        text-align: left;
    }

    .hljs-comment,
    .hljs-quote {
        // color: #e48686;
        color: rgba($color: #4eda60, $alpha: .8);
    }

    h1,
    h2,
    h3,
    h4 {
        margin: .1rem 0;
    }

    img {
        display: block;
        margin: auto;

        &:hover {
            animation: jump 1s;
        }
    }

    p {
        text-indent: 2em;
        margin: .1rem 0;
    }

    a {
        position: relative;
        text-indent: initial;
    }

    .show-img {
        display: block;
        text-align: center;
        text-indent: initial;

        em {
            display: inline-block;
            margin-top: .1rem;
        }
    }
}

pre {
    display: block;
    position: relative;
    padding: .45rem .14rem .16rem 0;
    overflow: auto;
    margin-bottom: 1em;
    background-color: #080808;
    // background-color: #21252b;

    &::-webkit-scrollbar {
        background-color: transparent;
        border-radius: 40px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        // box-shadow: 0 0 15px rgba(245, 220, 184, .81);
        background-color: none;
        box-shadow: none !important;
    }

    &::before {
        content: " ";
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #fc625d;
        width: 12px;
        height: 12px;
        left: .12rem;
        margin-top: -.3rem;
        -webkit-box-shadow: .2rem 0 #fdbc40, .4rem 0 #35cd4b;
        box-shadow: .2rem 0 #fdbc40, .4rem 0 #35cd4b;
        z-index: 2;
    }

    >code {
        margin: 0;
        width: 100%;
        height: 100%;
        line-height: 1.6em;
        color: hsla(0, 0%, 100%, .87);
        // background-color: #1d1f21;
        overflow: auto;

        &::before {
            color: #fff;
            content: attr(data-language);
            height: .4rem;
            line-height: .4rem;
            font-size: 1em;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            font-weight: 600;
            // background-color: #21252b;
            text-align: center;
            text-transform: capitalize;
        }

    }
}

a {
    color: #233330;
    transition: color .3s;
}

a:hover {
    color: #2a6496;
}