@import '../../assets/sass/mixin.scss';
@import '../../assets/sass/theme.scss';


.article-header {
    position: relative;
    width: 100%;
    min-height: 4rem;
    overflow: hidden;
}

.article-meta>* {
    @include flex-align();
    margin: 5px 0;
}

.article-cover {
    @include absolute-screen();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
        @include absolute-screen() {
            content: '';
        }

        z-index: 10;
        background: rgba($color: #000, $alpha: .4);
    }

    &::after {
        @include absolute-screen() {
            content: '';
        }

        z-index: 10;
        background: linear-gradient(transparent 80%, rgba(0, 0, 0, .4) 90%, rgba(0, 0, 0, .7) 100%);
    }
}


.arcitle-label {

    li {
        margin-right: 4px;
    }
}

.article-month {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 40px;
}

.article-main {
    padding: 2% 3%;
    border-radius: 3px;
    box-shadow: 0px 6px 20px rgba(36, 37, 38, 0.13);
}

.title-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
    margin-bottom: .1rem;
    text-align: left;
    color: #fff;
    z-index: 30;
}

.post {
    &-siblings {
        margin: 30px 0;
        padding: 0 20px;

        .next {
            float: right;
        }

    }

    &-title {
        display: inline-block;
    }

    &-button {
        position: relative;
        float: left;
        width: 45%;
        padding: .2rem;
        border-radius: 80px;
        background: rgba(255, 255, 255, .9);
        box-shadow: 0px 2px 0px rgb(168, 168, 168), 0px 2px 5px rgba(85, 81, 81, 0.7);
        animation: glowing-primary 3s infinite;

        &:active {
            box-shadow: 0px 3px 0px rgba(168, 168, 168, 1), 0px 3px 6px rgba(0, 0, 0, .9);
            top: 6px;
        }
    }

}

@keyframes glowing-primary {
    from {
        box-shadow: 0 0 0 rgba(27, 154, 247, .3);
    }

    50% {
        box-shadow: 0 0 10px rgba(27, 154, 247, .8);
    }

    to {
        box-shadow: 0 0 0 rgba(27, 154, 247, .3);
    }
}

@media screen and (max-width: 768px) {
    .row {
        width: 100%;
    }

    .article-detail {
        padding: 0;
    }

    .article-header {
        min-height: 100vh;
    }

    .article-month {
        right: 10px;
    }

    .post {
        &-button {
            width: 100%;
        }
    }

    .prev {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 769px) {
    .article-header {
        .article-cover {
            transition: all 1.5s;
        }

        &:hover .article-cover {
            transform: scale(1.1) rotate(-2deg);
        }
    }
}